body {
  font-family: 'Montserrat', sans-serif;
}
a {
  color: #333333;
  text-decoration: none;
}
li {
  list-style-type: none;
}
ul {
  padding: 0;
}
h2 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
}
strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.container {
  width: 1770px;
  margin: 0 auto;
}
.btn {
  padding: 19px 37px;
  border: none;
  background: #FF9900;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
}
.btn:hover {
  background: #ffc266;
}
.btn:active {
  background: #E1670E;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.burger {
  display: none;
  cursor: pointer;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


header {
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  align-items: center;
  height: 100px;
}
.header-logo {
  margin-right: auto;
}
.header-list {
  display: flex;
}
.header-item a {
  font-weight: 600;
  padding-top: 3px;
  border-bottom: 3px solid;
  border-color: transparent;
}
.header-item:not(:last-child) {
  margin-right: 85px;
}
.header-item a:hover {
  border-color: #FF9900;
}
.header-item a:active {
  color: #E1670E;
  border-color: #E1670E;
}
.header-search {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 4px 11px 0 71px;
  background-image: url(/img/icon/Search.svg);
  background-repeat: no-repeat;
}
.header-search:hover {
  background-image: url(/img/icon/Search-hover.svg);
}
.header-search:active {
  background-image:url(/img/icon/Search-active.svg);
}


.hero {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  box-sizing: border-box;
  height: 620px;
  padding: 103px 850px 91px 80px;
  background-image: url(../img/Карусель/Карусель-1.jpg);
  background-repeat: no-repeat;
}
.hero-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 70.3742px;
  line-height: 86px;
  color: #FFFFFF;
}
.hero-description {
  margin-bottom: auto;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  color: #FFFFFF;
}
.btn-hero {
  padding-top: 26px;
  padding-bottom: 26px;
  font-size: 23.46px;
}



.aboutUs-text {
  padding-right: 510px;
  margin-bottom: 44px;
}
.more {
  position: relative;
  padding-right: 20px;
}
.more img {
  position: absolute;
  bottom: 0;
}
.aboutUs-blocks {
  display: flex;
}

.aboutUs-mainBlock {
  position: relative;
}
.aboutUs-mainBlock-info {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2px;
  height: 95px;
  padding: 40px 68px 44px 54px;
  background: rgba(0, 0, 0, 0.5);
}
.aboutUs-mainBlock-text {
  margin-right: 76px;
  color: #FFFFFF;
  font-weight: 700;

}
.aboutUs-btn {
  padding: 18px 36px;
  border: 3px solid #FF9900;
  background: none;
}
.aboutUs-btn:hover {
  background: #FF9900 !important;
}
.aboutUs-btn:active {
  border: none;
  background: #E1670E !important;
}


.aboutUs-seconds {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.aboutUs-second {
  display: flex;
  padding: 44px 115px 55px 63px;
  border: 1px solid #CACACA
}
.aboutUs-second-1 {
  margin-bottom: 30px;
}
.aboutUs-second-img {
  margin-right: 59px;
}


.work-heading{
  margin-bottom: 45px;
}
.work-buttons {
  display: flex;
  margin-left: 2px;
  margin-bottom: 32px;
}
.work-btn {
  cursor: pointer;
}
.work-btn:hover {
  color: #FF9900;
}
.work-btn:active {
  color: #E1670E;
}
.work-btn:not(:last-child){
  margin-right: 90px;
}
.work-info {
  display: flex;
  justify-content: space-between;
}
.work-advice {
  margin-left: 3px;
  margin-right: 142px;
}
.work-text {
  margin-bottom: 76px;
}

.btn-work-more {
  margin-right: 30px;
}
.btn-work-contract {
  background: none;
  border: 1px solid #333333;
  color: #333333;
}
.btn-work-contract:hover {
  background: #666666;
  color: #FFFFFF;
}
.btn-work-contract:active {
  background: #000000;
  color: #FFFFFF;
}
.work-img {
  margin-top: 26px;
}

.question-section{
  margin-bottom: 100px;
}
.question-heading {
  margin-bottom: 38px;
}
.question-item {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0 30px 5px;
  border-top: 1px solid #CACACA;
}
.question-item strong {
  display: flex;
  align-items: center;
}
.question-item:last-child {
  border-bottom: 1px solid #CACACA;
}
.question-item:hover {
  color:#FF9900;
  border-top: 1px solid #FF9900;
  border-bottom: 1px solid #FF9900;
}
.grey {
  color: #CACACA;
}
.question-item-btn {
  width: 50px;
  height: 50px;
  padding: 9px;
  background: #ECECEC;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

footer {
  background: #222222;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 80px;
}
.footer-block-1 {
  margin-right: 110px;
}
.footer-list {
  margin-bottom: 117px;
}
.footer-item {
  font-weight: 600;
  font-size: 18px;
}
.footer-item:not(:last-child) {
  margin-bottom: 15px;
}
.footer-link {
  color: #CACACA;
}
.footer-icon:not(:last-child) {
  margin-right: 20px;
}

.footer-block-2 {
  margin-top: 10px;
}
.footer-heading {
  margin-top: 0;
  color: #CACACA;
}
.footer-form {
  display: flex;
  flex-direction: column;
  width: 570px;
  padding-left: 3px;
}
.footer-input {
  padding: 21px 24px;
  margin-bottom: 25px;
  background: #414141;
  border: none;
  resize: none;
}
.footer-input::placeholder {
  color: #ffffff;
}
.message {
  margin-bottom: 35px;
}
.footer-btn {
  width: 47.5%;
  align-self: start;
  margin-right: 18px;
}
.footer-block-3 {
  width: 363px;
}
.footer-text {
  color: #CACACA;
}
#footer-checkbox {
  margin-right: 4px;
}
.footer-checkbox-lable {
  color: #CACACA;
  font-size: 16px;
}

.footer-text {
  padding-top: 65px;
}


/* Media 1024 */
@media (max-width: 1024px) {
  h2 {
    margin-top: 60px;
    margin-bottom: 25px;
  }
  p {
    line-height: 32px;
  }
  .container {
    width: 924px;
  }
  .burger {
    display: inline-block;
  }
  .header-logo {
    width: 150px;
    margin-left: 38%;
  }
  .header-nav {
    display: none;
  }
  .header-search {
    margin-right: 0;
  }
  .hero {
    height: 666px;
    padding: 160px 100px 114px 44px;
    background-image: url(../img/Карусель/Pict1-1024.jpg);
  }
  .hero-heading {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 8px;
  }
  .hero-description {
    font-size: 20px;
    line-height: 24px;
  }
  .aboutUs-text {
    padding-right: 0;
    margin-bottom: 60px;
  }
  .aboutUs-blocks {
    flex-wrap: wrap;
  }
  .aboutUs-mainBlock {
    width: 924px;
    margin-bottom: 50px;
  }
  .aboutUs-seconds {
    margin-left: 0;
  }
  .aboutUs-second {
    padding-left: 112px;
  }
  .aboutUs-second-1 {
    margin-bottom: 40px;
  }
  .aboutUs-img {
    width: 100%;
    height: 640px;
  }
  .aboutUs-mainBlock-info {
    padding: 35px 50px 42px 45px;
  }
  .aboutUs-mainBlock-text {
    margin-right: 145px;
  }
  .work-advice {
    margin-right: 50px;

  }
  .work-text {
    width: 437px;
    margin-bottom: 50px;
  }
  .work-img {
    height: 690px;
    width: 435px;
  }
  .btn-work-more {
    margin-right: 25px;
  }
  .question-section {
    margin-bottom: 58px;
  }
  .question-heading {
    margin-top: 55px;
  }
  .question-item {
    padding-top: 28px;
    padding-left: 8px;

  }
  .question-item strong {
    width: 720px;
    font-size: 20px;
  }
  .footer-block-1{
    margin-right: 0;
  }
  .footer-block-3 {
    display: none;
  }
}

@media (max-width:768px) {
  .container {
    width: 668px;
  }
  .container:nth-child(2){
    width: 100%;
  }
  .hero {
    padding: 191px 0 114px 49px;
  }


  .aboutUs-second {
    padding: 37px 38px 42px 31px;
  }
  .aboutUs-second-img {
    width: 120px;
    margin-right: 17px;
  }

  .work-info {
    flex-direction: column;
  }
  .work-advice {
    margin-right: 0;
    order: 2;
  }
  .work-img {
    width: 100%;
    height: 100%;
  }
  .work-text {
    width: 100%;
  }

  .footer-section {
    flex-direction: column;
  }
  .footer-list {
    display: none;
  }
  .footer-block-1 {
    order: 2;
  }
  .footer-block-2 {
    margin-bottom: 58px;
  }
}
